.title {
    display: flex;
    background-color: rgb(25, 165, 139);
    justify-content: center;
}

.countries {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 1rem;
}

.country {
    background-color: rgb(16, 97, 82);
    gap: 1rem;
    padding: 1rem;
    width: 20%;
    margin: 1rem;
}

.trash {
    font-size: 1.2rem;
    color:rgb(39, 40, 56);
    background-color: white;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 1rem;
    width: 20%;
}